.App {
  


  
  text-align: center;

  display: flex;
  flex-direction: row;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

}



.sidebar {
  background-color: #186AA8;
  color: white;
  box-shadow: 0px 4px 8px rgba(#84C7FA, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 25vw;
  min-height: 100vh;;
 

  padding: 1em 0;


  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: 1em 0;
    border: solid 1px;
    color: darken(white, 5%);
  }

}

.logo {
  width: 50%;
}

.homeLink {
  color: white;
}
.homeLink:hover {
  color: #F2DEBF;
}

.logo {
  align-self: center;
}