<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>petslist</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS -->

    

    <!-- App CSS -->
    
    <!-- External JS -->

    <!-- JQUERY library from cdnjs.com-->
   
    <!-- App JS -->
   

  </head>

  <body>
    <h1> Hello World </h1>
    <p> find me in app/views/resources/index.html.erb </p>
  </body>
</html>