.loading-map {
  background-color: #222f3e;
  color: #A66D19;
}

.loading-image {
  animation: rotate 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}